In [3]:
# This is the demo for Dataset Twitter - DE_target

In [4]:
# Read Data
import pandas as pd
import numpy as np
from sklearn import preprocessing
# Return a numpy array
def read_data(path=''):
    df = pd.read_csv(path,index_col='new_id')
    df = df[['days','views']]
    df = df.sort_values(by=['new_id'])
    df = df[['days','views']]
    
    # print(df)
    np_array = df.to_numpy(dtype=float)
    np_array = preprocessing.MinMaxScaler().fit_transform(np_array)
    return np_array

In [5]:
np_array = read_data('../../../TwitterDataset/DE/DE_target.csv')
np_array
np.amin(np_array)
# np.amax(np_array)
len(np_array)

9498

In [6]:
# Calculate similarity metrix
import sys
sys.path.append('../')
from knn_metrics.similarity_metric import Euclidean_similarity_metric

distance_metric = Euclidean_similarity_metric(np_array)
print(distance_metric)

[[0.         0.0451135  0.02618622 ... 0.20145191 0.2138969  0.07570651]
 [0.0451135  0.         0.01892765 ... 0.15633928 0.2590096  0.03059484]
 [0.02618622 0.01892765 0.         ... 0.17526575 0.240083   0.04952039]
 ...
 [0.20145191 0.15633928 0.17526575 ... 0.         0.41534875 0.1257454 ]
 [0.2138969  0.2590096  0.240083   ... 0.41534875 0.         0.28960339]
 [0.07570651 0.03059484 0.04952039 ... 0.1257454  0.28960339 0.        ]]

In [7]:
np.amin(distance_metric)

0.0

In [8]:
# Get similarity Metric:  similarity = 1/1+distance
similarity_metric = np.zeros((len(distance_metric),len(distance_metric)))
for i in range(0,len(distance_metric)):
    for j in range(0,len(distance_metric)):
        similarity_metric[i][j] = 1/(1+distance_metric[i][j])
        
similarity_metric

array([[1.        , 0.95683387, 0.974482  , ..., 0.83232628, 0.82379319,
        0.9296216 ],
       [0.95683387, 1.        , 0.98142395, ..., 0.86479809, 0.79427512,
        0.97031342],
       [0.974482  , 0.98142395, 1.        , ..., 0.85087139, 0.80639763,
        0.95281617],
       ...,
       [0.83232628, 0.86479809, 0.85087139, ..., 1.        , 0.70653964,
        0.88830032],
       [0.82379319, 0.79427512, 0.80639763, ..., 0.70653964, 1.        ,
        0.77543221],
       [0.9296216 , 0.97031342, 0.95281617, ..., 0.88830032, 0.77543221,
        1.        ]])

In [9]:
print(np.amax(similarity_metric))
print(np.amin(similarity_metric))

1.0
0.47108316910411113

In [10]:
from knn_metrics import knn_metric
knn_result = knn_metric.Knn_metric(similarity_metric,k=50)
knn_result

array([[8324, 3459, 6262, ..., 8370, 5796, 9335],
       [ 196, 6077, 5123, ..., 6814, 1941, 2006],
       [6036, 2011, 9188, ..., 2788, 2769, 2532],
       ...,
       [4542, 3747, 7149, ..., 9282, 3492, 8326],
       [2578,   46, 5989, ..., 4985, 6691, 3860],
       [3630, 1928, 6465, ..., 3689, 3097, 2371]])

In [12]:
print(knn_result.shape)
df_knn = pd.DataFrame(knn_result)
df_knn.to_csv('../knn_metrics/knn_metrics50.csv')

(9498, 50)

In [13]:
from snn_computation import snn_metric
snn_distance_metric = snn_metric.create_snn_distance(knn_result)
snn_similarity_metric = snn_metric.create_snnMetric(knn_result)

In [14]:
print(snn_distance_metric)
print(snn_similarity_metric)

[[0. 1. 1. ... 1. 1. 1.]
 [1. 0. 1. ... 1. 1. 1.]
 [1. 1. 0. ... 1. 1. 1.]
 ...
 [1. 1. 1. ... 0. 1. 1.]
 [1. 1. 1. ... 1. 0. 1.]
 [1. 1. 1. ... 1. 1. 0.]]
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [ ]:
df_snn = pd.DataFrame(snn_distance_metric)
# df_snn.to_csv('./snn_distance_metric_ds3.csv',header=False,sep=' ',index=False)

In [ ]:
df_snn = pd.DataFrame(snn_similarity_metric)
# df_snn.to_csv('../snn_computation/snn_metric_ds3.csv',header=False,sep=' ',index=False)

In [15]:
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN
from os import path
from run_snndensity import read_dataset,read_snnArray,dbscan
import sys
sys.path.append('../../')
from Evaluation.silhouette_coefficient import silhoutte_result
#DB SCAN
snn_nparray = snn_distance_metric.copy()
def demo(input_minpts,input_eps):
    data_labeled = dbscan(MinPts=input_minpts,Eps=input_eps,snn_nparray=snn_nparray)
    labels = data_labeled.labels_
    # print(labels)

# Remove outliers
    count = 0
    for item in labels:
        if item>-1:
            count = count+1
    # print("Number of true node ", count)  # Number of node after remove outliers

    new_distance_metric = np.zeros((count,count),dtype=float)
    label_dictionary_before = {}
    
    start = 0 
    for item in labels:
        label_dictionary_before[start]=item 
        start = start+1
    # print(label_dictionary_before)
    dictionary_no_outliers = {i:label_dictionary_before[i] for i in label_dictionary_before if label_dictionary_before[i]!=-1}
    # print(dictionary_no_outliers)

    k = dictionary_no_outliers.keys()

    # Create a new name for each node after remove outliers
    change_name_list={}
    start = 0
    for item in k:
        change_name_list[start] = item
        start = start+1

    #Add value to new snn_array, to use for calculate  Silhoutte - after remove outliers
    i=0
    j=0
    for i in range(0,count):
        for j in range(i+1,count):
            new_distance_metric[i][j] = snn_nparray[change_name_list[i]][change_name_list[j]]
            new_distance_metric[j][i] = new_distance_metric[i][j]

    # Silhoutte 
    new_label = list(dictionary_no_outliers.values())
    number_of_cluster = len(set(new_label)) 
    if len(set(new_label)) > 1:
        silhoute_removeouliers= silhoutte_result(new_distance_metric,new_label)
    else:
        print("Number of labels needs to > 1. ERROR!!")
        silhoute_removeouliers = -1

    return silhoute_removeouliers,len(new_label),number_of_cluster,label_dictionary_before

In [16]:
list_minpts = [i for i in range (2,20)]
eps = 0.5
for item in list_minpts:
    score,number_of_nodes,num_clusters,label_dictionary = demo(item,eps)
    print(item ,':',score,number_of_nodes,num_clusters)

# snn_nparray

2 : 0.6840517569036277 199 95
3 : 0.6339130434782608 23 7
4 : 0.63 8 2
Number of labels needs to > 1. ERROR!!
5 : -1 0 0
Number of labels needs to > 1. ERROR!!
6 : -1 0 0
Number of labels needs to > 1. ERROR!!
7 : -1 0 0
Number of labels needs to > 1. ERROR!!
8 : -1 0 0
Number of labels needs to > 1. ERROR!!
9 : -1 0 0
Number of labels needs to > 1. ERROR!!
10 : -1 0 0
Number of labels needs to > 1. ERROR!!
11 : -1 0 0
Number of labels needs to > 1. ERROR!!
12 : -1 0 0
Number of labels needs to > 1. ERROR!!
13 : -1 0 0
Number of labels needs to > 1. ERROR!!
14 : -1 0 0
Number of labels needs to > 1. ERROR!!
15 : -1 0 0
Number of labels needs to > 1. ERROR!!
16 : -1 0 0
Number of labels needs to > 1. ERROR!!
17 : -1 0 0
Number of labels needs to > 1. ERROR!!
18 : -1 0 0
Number of labels needs to > 1. ERROR!!
19 : -1 0 0

In [17]:
score,number_of_nodes,num_clusters,label_dictionary = demo(2,0.5)
print(score,number_of_nodes,num_clusters)
from collections import defaultdict
df = pd.read_csv('../../../TwitterDataset/DE/DE_target.csv')
df = df[['new_id','days','views']]
v = defaultdict(list)

for key, value in sorted(label_dictionary.items()):
    v[value].append(key)
for key in v.keys():
    if (key!=-1):
        print("Cluster: ",key)
        nodes = v[key]
        print(df.loc[df['new_id'].isin(nodes)])

0.6840517569036277 199 95
Cluster:  0
      new_id  days  views
688       85  1144  37055
2079      81  1144  27610
Cluster:  1
      new_id  days  views
906      276  1752   2529
8143    9310  1752   2795
Cluster:  2
      new_id  days  views
2633    9146  1344  26676
5961     541  1344  27268
Cluster:  3
      new_id  days  views
133     4854  2012   5380
1933    4733  2012   7193
6111    8904  2012   6123
7658     571  2012   7886
Cluster:  4
      new_id  days  views
3339    8394  1776   4785
4842     622  1776   4656
Cluster:  5
      new_id  days  views
2183    7728   756   1262
7153     663   756   1939
7271    5985   756    523
Cluster:  6
      new_id  days  views
1713     731  1951   8555
2626    8070  1951  11281
Cluster:  7
      new_id  days  views
3894     732   556    505
7117    8709   556    827
Cluster:  8
      new_id  days  views
4207     818  1054  12269
6899    2860  1054  18327
Cluster:  9
      new_id  days  views
772      869  1143  61961
4154    1542  1143  74187
6006    8607  1143  67667
Cluster:  10
      new_id  days  views
3869    2267  1606  18671
8509    1139  1606  20082
Cluster:  11
      new_id  days  views
5380    9163  1014  23777
6793    1184  1014  23837
Cluster:  12
      new_id  days  views
541     1192  2066  22812
4556    1189  2066  23459
Cluster:  13
      new_id  days  views
5236    1227  1546  21032
8922    1563  1546  22543
Cluster:  14
      new_id  days  views
7133    1832   796  93993
8211    1315   796  25863
Cluster:  15
      new_id  days  views
187     1395  1152   1014
1395    1341  1152  11142
Cluster:  16
      new_id  days  views
6482    2380  1449   1415
9250    1367  1449   1136
Cluster:  17
      new_id  days  views
2460    8722   820   4130
6587    1424   820   4004
Cluster:  18
      new_id  days  views
409     8365   744   3035
1029    1670   744   2734
2711    1715   744   2630
9127    1481   744   1541
Cluster:  19
      new_id  days  views
3096    8938  1409   9009
7641    1553  1409   9388
Cluster:  20
      new_id  days  views
1552    1897  1357   1074
2351    1738  1357   1066
Cluster:  21
      new_id  days  views
2169    1760   758   1360
4104    2613   758   1381
Cluster:  22
      new_id  days  views
475     2052   738   2751
2288    1807   738   2654
Cluster:  23
      new_id  days  views
6740    1834   740   6163
7051    8588   740   4755
Cluster:  24
      new_id  days  views
1614    1851  1158  25946
8860    8631  1158  26304
Cluster:  25
      new_id  days  views
6074    1970   741   6136
6250    2562   741   5253
Cluster:  26
      new_id  days  views
9082    2071  2038  50367
9296    3292  2038  21550
Cluster:  27
      new_id  days  views
558     2075  1098   1894
2461    8429  1098    514
Cluster:  28
      new_id  days  views
2405    2120   525    622
3990    8206   525   1359
Cluster:  29
      new_id  days  views
6605    2444   723   1202
6962    2132   723    779
Cluster:  30
      new_id  days  views
65      9451  1014   3172
7151    2176  1014   2470
Cluster:  31
      new_id  days  views
7344    2581  1325   1078
7817    2238  1325   1563
Cluster:  32
      new_id  days  views
2170    3001  1618   4237
8367    2350  1618   8440
Cluster:  33
      new_id  days  views
3014    2360  1067  51469
5911    2666  1067  45547
Cluster:  34
      new_id  days  views
980     2398   930   9527
8783    8761   930  11988
Cluster:  35
      new_id  days  views
2015    3413  1349   6345
5650    2532  1349   6630
Cluster:  36
      new_id  days  views
1436    2553  2041    940
9372    4182  2041   1712
Cluster:  37
      new_id  days  views
156     8058   484   1616
7162    2682   484   1712
Cluster:  38
      new_id  days  views
3353    3424  1453   3874
5506    2770  1453   6551
Cluster:  39
      new_id  days  views
4741    2843  1517   2812
8308    7649  1517   3415
Cluster:  40
      new_id  days  views
2825    7908  1117    235
9013    2893  1117    104
Cluster:  41
      new_id  days  views
1408    7141  1105    757
7594    2960  1105    689
Cluster:  42
      new_id  days  views
1787    4767   676    810
3934    4397   676    383
9040    3091   676    820
Cluster:  43
      new_id  days  views
68      8616  1359   1021
6144    3113  1359   1184
Cluster:  44
      new_id  days  views
1747    6638   759   7126
5654    3149   759   5666
Cluster:  45
      new_id  days  views
2151    7593   767   1078
9157    3299   767    748
Cluster:  46
      new_id  days  views
3438    3561  1375  40350
4133    3943  1375  40487
Cluster:  47
      new_id  days  views
1095    3768  1722   2148
2506    3579  1722   2860
Cluster:  48
      new_id  days  views
1949    3673  1037  11191
7673    5011  1037  10981
Cluster:  49
      new_id  days  views
2462    3995   694   6367
6352    3675   694   5914
Cluster:  50
      new_id  days  views
6403    4744  1716  26260
7065    3707  1716  25791
Cluster:  51
      new_id  days  views
1166    3807  1109   4078
2406    3728  1109   4188
Cluster:  52
      new_id  days  views
988     6241  1095   1902
4311    3840  1095   2061
Cluster:  53
      new_id  days  views
4526    8500   959   1521
5148    3876   959   1535
Cluster:  54
      new_id  days  views
787     4062  1161   4973
3603    4190  1161   4836
Cluster:  55
      new_id  days  views
4765    4964   955   2086
4794    4128   955   2440
Cluster:  56
      new_id  days  views
3951    4160  1567   2817
6687    4578  1567   2149
Cluster:  57
      new_id  days  views
4862    4177  1168   2418
9230    7219  1168   2434
Cluster:  58
      new_id  days  views
7021    5628   759  14849
8960    4248   759  15847
Cluster:  59
      new_id  days  views
2181    4293  1898  14103
5379    8724  1898  56196
Cluster:  60
      new_id  days  views
342     5257   396   2895
3843    4326   396   2353
Cluster:  61
      new_id  days  views
3482    4345  1773  13331
4922    5049  1773  13014
Cluster:  62
      new_id  days  views
3916    4548  1227    590
8686    8568  1227   1330
Cluster:  63
      new_id  days  views
1232    4573  1287   2042
2609    5046  1287   1929
8778    4795  1287   1657
Cluster:  64
      new_id  days  views
2735    4582  1349  11267
6187    8103  1349   9978
Cluster:  65
      new_id  days  views
1264    6582  1112  11921
7983    4694  1112  15733
Cluster:  66
      new_id  days  views
1693    4743  1045   9665
8468    4721  1045   9538
Cluster:  67
      new_id  days  views
5080    6218  1515   4046
5347    4860  1515   4013
Cluster:  68
      new_id  days  views
2774    8014  1272   7549
5864    4914  1272   8464
Cluster:  69
      new_id  days  views
3136    6879  1668  15382
5775    4983  1668  14068
Cluster:  70
      new_id  days  views
7248    5120   594   2516
8256    6670   594   2457
Cluster:  71
      new_id  days  views
557     8140  1323   1453
2141    5199  1323   1273
Cluster:  72
      new_id  days  views
1129    7636  1229   6408
4616    5354  1229   6312
Cluster:  73
      new_id  days  views
2242    5572   674   3007
8222    5381   674   3272
Cluster:  74
      new_id  days  views
732     5437  1202   9428
8304    7137  1202  12866
Cluster:  75
      new_id  days  views
5625    5653  1492  21373
9459    6071  1492  49036
Cluster:  76
      new_id  days  views
5716    5729   853   1980
6889    5700   853   1890
Cluster:  77
      new_id  days  views
6160    5728  2611  34873
9353    6124  2611  35144
Cluster:  78
      new_id  days  views
3814    6034  1305   2614
7003    8042  1305   2413
Cluster:  79
     new_id  days  views
161    7804  1205  12043
373    6203  1205   6183
Cluster:  80
      new_id  days  views
5474    6221  1031   1439
6472    6528  1031   1769
Cluster:  81
      new_id  days  views
1220    6341  1264   2054
5733    6266  1264   2004
Cluster:  82
      new_id  days  views
7004    6709  1357  14375
9066    6315  1357  14929
Cluster:  83
      new_id  days  views
4046    6394   723  12255
7008    6369   723  15023
Cluster:  84
      new_id  days  views
2705    6465  1160    584
5890    9384  1160    692
Cluster:  85
      new_id  days  views
112     6769  1327   1632
1473    6550  1327   1563
Cluster:  86
      new_id  days  views
4222    6788   900    654
4271    7785   900   1094
8627    7251   900    811
Cluster:  87
      new_id  days  views
1393    7526  1146   6261
7205    6933  1146   3983
Cluster:  88
      new_id  days  views
234     7582  1173   2932
7790    7121  1173   2944
Cluster:  89
      new_id  days  views
3671    7451  1151   2860
6955    7231  1151   2400
Cluster:  90
      new_id  days  views
2953    7433  1553   7786
4223    7726  1553   7471
Cluster:  91
      new_id  days  views
4352    8005  1959   2583
8533    7639  1959   2682
Cluster:  92
      new_id  days  views
3024    8314   741   6489
3709    7741   741   7196
Cluster:  93
      new_id  days  views
3070    8818  1599  10516
3255    9028  1599   9956
Cluster:  94
      new_id  days  views
2411    9294   691  13459
4764    9473   691  13561

In [18]:
list_eps=np.arange(0.05, 1, 0.05).tolist()
for item in list_eps:
    score,number_of_nodes,num_clusters,label_dictionary = demo(2,item)
    print(item,':',score, num_clusters,number_of_nodes)

0.05 : 0.976 5 10
0.1 : 0.9520000000000003 10 20
0.15000000000000002 : 0.9249203777731023 15 30
0.2 : 0.881139981765902 25 50
0.25 : 0.8506268383642116 34 68
0.3 : 0.8155266372423285 46 92
0.35000000000000003 : 0.7779518580300804 55 115
0.4 : 0.7401085533006359 73 151
0.45 : 0.7113775496893628 85 177
0.5 : 0.6840517569036277 95 199
0.55 : 0.64724003338873 114 238
0.6000000000000001 : 0.5837094291874803 140 299
0.6500000000000001 : 0.5508002994924766 162 345
0.7000000000000001 : 0.484636583005609 211 453
0.7500000000000001 : 0.44881629928652683 239 518
0.8 : 0.34792644531758776 349 776
0.8500000000000001 : 0.22526728663672282 613 1437
0.9000000000000001 : 0.06385603716084443 1327 5286
0.9500000000000001 : 0.0015203117541109567 87 8930

In [19]:
score,number_of_nodes,num_clusters,label_dictionary = demo(2,0.05)
print(score,number_of_nodes,num_clusters)
from collections import defaultdict
df = pd.read_csv('../../../TwitterDataset/DE/DE_target.csv')
df = df[['new_id','days','views']]
v = defaultdict(list)

for key, value in sorted(label_dictionary.items()):
    v[value].append(key)
for key in v.keys():
    if (key!=-1):
        print("Cluster: ",key)
        nodes = v[key]
        print(df.loc[df['new_id'].isin(nodes)])

0.976 10 5
Cluster:  0
      new_id  days  views
541     1192  2066  22812
4556    1189  2066  23459
Cluster:  1
      new_id  days  views
5236    1227  1546  21032
8922    1563  1546  22543
Cluster:  2
      new_id  days  views
1029    1670   744   2734
2711    1715   744   2630
Cluster:  3
      new_id  days  views
787     4062  1161   4973
3603    4190  1161   4836
Cluster:  4
      new_id  days  views
1129    7636  1229   6408
4616    5354  1229   6312